body{
    text-align: center;
    margin: 50px;
    color: tomato;
    text-shadow: 0 0 10px orange;
    background-color: antiquewhite;
    font-size: 80px;
    font-family:cursive;
    font-weight: bold;
}